.dropdown{
    display:inline-block;
    position:relative;
  }

  .dropdown{
    border:none;
    padding:8px 16px;
    color: black;
    transition:.3s;
    cursor:pointer;
  }
  
  .dropdown:hover button{
    background-color:rgb(138, 133, 135);
  }
  
  .dropdown div{
    background-color:#fff;
    z-index:1;
    visibility:hidden;
    position:absolute;
    min-width:100%;
    opacity:0;
    transition:.3s;
  }
  
  .dropdown:hover div{
    visibility:visible;
    opacity:1;
  }
  
  .dropdown div a{
    display:block;
    text-decoration:none;
    padding:8px;
    color:#000;
    transition:.1s;
    white-space:nowrap;
  }
  
  .dropdown div a:hover{
    background-color:cornflowerblue;
    color:#fff;
  }

  .image 
{
    background-image: url("CSR-initiatives.jpg"); /* The image used */
    height:550px; /* You must set a specified height */
    width: 650px;
    background-position: right; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size:contain; /* Resize the background image to cover the entire container */
    padding-left: 50px;
    padding-right: 50px; 
}

.logo
{
    background-image: url("csr.jpg");
    background-repeat:no-repeat ;
    background-size: cover;
    backface-visibility:inherit;
}
